In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('s3://data-files-http/customer_data.csv')

In [11]:
# 1. How many rows and columns are there?
print(df.shape)

(99933, 17)

In [13]:
# 2. What are the column names?
print(df.columns)

Index(['UCID', ' GENDER', ' AGE_GROUP2', ' MEMBERSHIP_DATE',
       ' BRAND_REPORTING', ' LOCATION_NAME_REPORTING', ' STORE_COUNTRY',
       ' BUSINESS_CHANNEL', ' INVOICE_NO', '  NET_SALES_AMOUNT ', ' SALES_QTY',
       '  DISCOUNT_AMOUNT ', ' DAY_DT', ' DIV_NAME', ' DEPT_NAME',
       ' CLASS_NAME', ' SUBCLASS_NAME'],
      dtype='object')

In [19]:
# 3. What are the data types of each column?
print(df.dtypes)

UCID                          int64
 GENDER                      object
 AGE_GROUP2                  object
 MEMBERSHIP_DATE             object
 BRAND_REPORTING             object
 LOCATION_NAME_REPORTING     object
 STORE_COUNTRY               object
 BUSINESS_CHANNEL            object
 INVOICE_NO                 float64
  NET_SALES_AMOUNT           object
 SALES_QTY                  float64
  DISCOUNT_AMOUNT            object
 DAY_DT                      object
 DIV_NAME                    object
 DEPT_NAME                   object
 CLASS_NAME                  object
 SUBCLASS_NAME               object
dtype: object

In [18]:
# group by net_sales_amount by gender
df.groupby(' AGE_GROUP2')['  NET_SALES_AMOUNT '].sum()

 AGE_GROUP2
0-14            $331.10  $16.17  $75.75  $50.22  $122.99  $85...
15-19           $47.62  $47.62  $47.62  $47.62  $65.71  $28.5...
20-24           $67.19  $126.72  $122.86  $180.00  $75.24  $7...
25-34           $31.43  $1,294.38  $157.81  $37.14  $37.14  $...
35-44           $-    $126.82  $136.19  $1,655.87  $-    $1,2...
45-54           $194.91  $169.38  $67.24  $18.10  $37.14  $19...
55+             $114.91  $211.95  $67.24  $75.76  $84.27  $- ...
UnSpecified     $127.71  $95.24  $84.86  $213.43  $684.86  $1...
Name:   NET_SALES_AMOUNT , dtype: object